:root {
  --bg: #f3d6ba;
  --accent: #f29a2e;
  --accent-strong: #dd841e;
  --text: #3a2a20;
  --muted: #a99584;
  --font-body: "Montserrat", sans-serif;
  --font-title: "Playfair Display", serif;

  font-family: var(--font-body);
  line-height: 1.4;
  font-weight: 400;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg);
}

img,
svg {
  display: block;
}

button {
  font: inherit;
  color: inherit;
}
